.timesheet input[type="text"] {
    width: 25px;
}

input.error, select.error, td.error {
    border: 1px solid red;
    background-color: #FF8C8C;
    color: red;
}

span.error {
    color: red;
}

tr.error td {
    background-color: #FF8C8C !important;
    color: red;
}